${header}
<ul class="topnav">
  <li><a href="/members">Home</a></li>
  <li><a href="/members-about">About</a></li>
  <li><a href="/members-contact">Contact</a></li>
  <li><a href="/logout">Logout</a></li>
</ul>
<h1>Welcome to the members page ${username}</h1>

<a href="/members/create"><button>ADD POST</button></a>
<a href="/members/profile/${id}"><button>VIEW PROFILE</button></a>
<a href="/members/search"><button>SEARCH</button></a>
<br />
<br />
<ul>
  ${posts.map(p=> { return `
  <li>
    <div class="postDiv">
      <h2>${p.title}</h2>
      <a href="/members/profile/${p.userid}">
        <h3>${p.username}</h3>
      </a>
      <br />

      <div class="img-holder">
        ${p.media.includes("/uploads/media/") ? `<img
          src="${p.media}"
          alt="${p.username}'s image"
        />`:'' }
      </div>
      <p>${p.content}</p>
    </div>
  </li>

  ` }).join('')}
</ul>

${footer}
