${header}
<ul class="topnav">
  <li><a href="/">Home</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/contact">Contact</a></li>
</ul>
<h1 align="center">Welcome Please Sign Up for Your Gamer's Account</h1>
<br />
<div align="center"><img src="/images/giphy.gif" alt="say my name giphy" ></div>
<h2 align="center" style="color: red">${error}</h2>
<form align="center" action="/signup" method="POST">
  <br />
  <input type="text" name="username" autofocus placeholder="username" />
  <br />
  <input type="password" name="password" placeholder="password" />
  <br />
  <input type="text" name="name" placeholder="name" />
  <br />
  <input type="text" name="email" placeholder="e-mail" />
  <br />
  <input type="submit" value="SignUp" />
</form>
<br />
<div align="center">
  <a href="/"><button>BACK</button></a>
</div>


<div align="center">
  <p>If you have already Signed Up Please Click <a href="/login">HERE</a></p>
</div>

<!-- <script src="/scripts/main.js"></script> -->
${footer}
